/*Nav bar and its contents */
html{
    scroll-behavior: smooth;
}
header, body{
    font-family: 'Open sans';
    width: 100%;
    padding:0;
    margin:0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,82,105,1) 52%, rgba(119,129,131,1) 100%);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width:100%;
    padding: 5px 70px;
    font-size: 16px;
    height: 50px;
}
.search-container{
    padding-top:3px;
    display: flex;
    gap:0;
}
.search-container > input, button{
    margin:0;
    border:none;
    background-color:rgba(192,192,192, 0.3);
    outline: none;
    height:30px;
    color:whitesmoke;
}
.search-container > input{
    border-right: 0.7px solid #989898;
    font-size:16px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 10px;
}
.search-container > button{
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    
}
nav > i{
    font-size: 12px;
    color:azure;
    display: hidden;
}


/*Main and its content*/
.heading{
    color:whitesmoke;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.movie-box{
    display: inline-block;
    width: 170px;
    cursor:pointer;
    height:295px;
    margin:10px;
}
.poster{
    width:170px;
    height: 255px;
    object-fit:cover;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.title, .rating,.overview{
    font-family:sans-serif;
    font-size: 16px;
    margin:0;
    padding: none;
    color: whitesmoke;
}
.rating{
    font-size: 16px;
    color:gainsboro;
}
.title{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.rating-value{
    font-size: 11px;
    font-weight: 800;
    border: 0.6px solid skyblue;
    border-radius: 2px;
    color: azure;
}
.movies-container{
    margin-top: 20px;
    padding-left: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:flex-start;
}

.overview{
    display: none;
}


/* ASIDE: SIDE BAR*/
.main-aside{
    display: grid;
    grid-template-columns: 15% 85%;
}
aside{
    position:sticky;
    top:0px;
    font-size:20px;
    background-color: #C8C8C8;
    height:450px;
    color: whitesmoke;
    background-color: rgba(46,46,46,0.3);
    border-radius: 12px;
    padding-left: 10px;
    margin-top: 100px;
    margin-left:8px;
}
aside > * {
    border-bottom: 2px solid rgba(46,46,46,0.3);
    cursor:pointer;
}
aside > p:hover, aside > span:hover{
    border-bottom: 2px solid #7CB9E8;
}


/* Genre */
.genre-container{
    display: none;
    grid-template-columns: 50% 50%;
    gap:5px;
    
    margin-top: 0;
}
.genre{
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.genre:hover{
    color:#1375d8;
}


/* PAGINATION */

.pagination{
    display: flex;
    justify-content: center;
    gap:40px;
    margin-top: 10px;
    margin-bottom: 70px;
}
.pagination >span, .pagination > i{
   padding:10px;
   cursor:pointer;
   color: white;
}
.active{
   padding:10px;
    border-radius:100%;
    border: 1px solid blue;
    background-color: blue;
    color:white;
}


/* MOVIE page section */
